@{
    ViewData["Title"] = "Home Page";
}

<h1>Simple Asp.Net Core Application</h1>
<h4>A web app that shows my photos from Google Drive</h4>

<a asp-action="Login" asp-controller="home" class="btn-primary btn" style="padding:8px 25px"> Login </a>
